.smod-head{padding:15px;border-bottom:1px solid #eee;}
.smod-body{margin-left:50px;}
.timeline {
	background: url("img/line4.png") repeat-y 50px 0;
	overflow: hidden;
	position: relative;
	margin: 20px 10px;
}

.timeline-date {
	overflow: hidden;
	position: relative;
}

.timeline-date h2 {
	background:url("img/icon9.png") no-repeat 10px 0;
	height: 87px;
	margin-bottom: 20px;
}

.timeline-date h2 span {
	color: #999999;
	display: inline-block;
	font-size: 22px;
	margin: 30px 0px 0 110px;
}

.timeline-date ul li {
	background: url("img/icon7.png") no-repeat 42px 5px;
	zoom: 1;
	height:70px;
}

.timeline-date ul li h3 {
	float: left;
	text-align: right;
	font-size: 14px;
	color: #FF8541;
	display: block;
}
		
.timeline-date ul li h3 span {
	display: block;
	color: #ADADAD;
	font-size: 12px;
	padding-left:15px;
}
		
.timeline-date ul li dl {
	margin-top: -5px;
}

.timeline-date ul li dl.right {
	background: url("img/left_arrow.png") no-repeat 0 0;
	float: left;
	margin-left: 35px;
	margin-top: -7px;
	display: block;
	background-color:#FFBB42;
	height:40px;
	border-radius: 10px;
}

.timeline-date ul li dl.rights {
	background: url("img/left_arrows.png") no-repeat 0 0;
	float: left;
	margin-left: 35px;
	margin-top: -7px;
	display: block;
	background-color:#FF8541;
	height:40px;
	border-radius: 10px;
}
		
.timeline-date ul li dl span{
	display: block;
	font-size:16px;
	padding: 0px 10px 0px 30px;
	color:#fff;
	line-height: 40px;

}
ul {clear: both;}ul.paging li {width: 100%;}
ul.red {outline:10px solid red;}
ul.simplePagerNav li{
    display:block;
    floaT: left;
	margin:5px;
    padding:0 5px;
    margin-bottom: 10px;
    font-family: georgia;
	-moz-border-radius: 15px;      /* Gecko browsers */
    -webkit-border-radius: 15px;   /* Webkit browsers */
    border-radius:15px;            /* W3C syntax */
}

ul.simplePagerNav li a{
    color: #333;
    text-decoration: none;
}

li.currentPage {
	background: red;
        background: #83bd63;	
}

ul.simplePagerNav li.currentPage a {
	color: #fff;	
}

table.pageme {
    border-collapse: collapse;
    border: 1px solid #ccc;
}  

table.pageme td {
    border-collapse: collapse;
    border: 1px solid #ccc;
}      

ul.paging  li.sticky {
	background-color: red !important;
	display: block !important
}