<!-- <link rel="stylesheet" href="<?php echo G_STATIC_URL; ?>/css/fox/lunbo.css" />
<script type="text/javascript" src="<?php echo G_STATIC_URL; ?>/css/fox/jquery.DB_tabMotionBanner.min.js"></script>
<div class="DB_tab25 hidden-xs">
	<ul class="DB_bgSet">
		<li style="background:url(<?php echo base_url();?>/ad/lunbo/bj1.jpg) no-repeat 100% 100%;"></li>
		<li style="background:url(<?php echo base_url();?>/ad/lunbo/bj2.jpg) no-repeat 100% 100%;"></li>
		<li style="background:url(<?php echo base_url();?>/ad/lunbo/bj3.jpg) no-repeat 100% 100%;"></li>
		<li style="background:url(<?php echo base_url();?>/ad/lunbo/bj4.jpg) no-repeat 100% 100%;"></li>
	</ul>

	<ul class="DB_imgSet">
		<li onClick="javascript:window.location.href='/';">
			<img class="DB_1_1" src="<?php echo base_url();?>/ad/lunbo/kjzname.png" alt="">
			<img class="DB_1_2" src="<?php echo base_url();?>/ad/lunbo/kjzjx.png" alt="">
            <img class="DB_1_3" src="<?php echo base_url();?>/ad/lunbo/bn_01.png" alt="">
		</li>

		<li onClick="javascript:window.location.href='/';">
			<img class="DB_2_1" src="<?php echo base_url();?>/ad/lunbo/addchelun.png" alt="">
			<img class="DB_2_2" src="<?php echo base_url();?>/ad/lunbo/addt.png" alt="">
			<img class="DB_2_3" src="<?php echo base_url();?>/ad/lunbo/zw.png" alt="">
		</li>

		<li onClick="javascript:window.location.href='/';">
			<img class="DB_3_1" src="<?php echo base_url();?>/ad/lunbo/bn32.png" alt="">
			<img class="DB_3_2" src="<?php echo base_url();?>/ad/lunbo/bn33.png" alt="">
			<img class="DB_3_3" src="<?php echo base_url();?>/ad/lunbo/bn3.png" alt="">
		</li>

		<li onClick="javascript:window.location.href='/';">
			<img class="DB_4_1" src="<?php echo base_url();?>/ad/lunbo/bn_04.png" alt="">
			<img class="DB_4_2" src="<?php echo base_url();?>/ad/lunbo/bn_042.png" alt="">
			<img class="DB_4_3" src="<?php echo base_url();?>/ad/lunbo/bn_043.png" alt="">
			<img class="DB_4_4" src="<?php echo base_url();?>/ad/lunbo/bn_044.png" alt="">
        </li>
	</ul>

	<div class="DB_menuWrap">
		<ul class="DB_menuSet">
			<li><img src="<?php echo base_url();?>/ad/lunbo/btn_off.png" alt=""></li>
			<li><img src="<?php echo base_url();?>/ad/lunbo/btn_off.png" alt=""></li>
			<li><img src="<?php echo base_url();?>/ad/lunbo/btn_off.png" alt=""></li>
			<li><img src="<?php echo base_url();?>/ad/lunbo/btn_off.png" alt=""></li>
		</ul>
		<div class="DB_next"><img src="<?php echo base_url();?>/ad/lunbo/nextArrow.png" alt="NEXT"></div>
		<div class="DB_prev"><img src="<?php echo base_url();?>/ad/lunbo/prevArrow.png" alt="PREV"></div>
	</div>

</div>
<div id="foxshas">
	<div class="i_content"></div>
</div>
<script type="text/javascript">
$('.DB_tab25').DB_tabMotionBanner({
	key:'b28551',
	autoRollingTime:8000,                            
	bgSpeed:300,
	motion:{
		DB_1_1:{left:-50,opacity:0,speed:1000,delay:500},
		DB_1_2:{left:-50,opacity:0,speed:1000,delay:1000},
		DB_1_3:{left:100,opacity:0,speed:1000,delay:1500},
		DB_2_1:{top:10,opacity:0,speed:1000,delay:500},
		DB_2_2:{top:20,opacity:0,speed:1000,delay:1000},
		DB_2_3:{top:40,opacity:0,speed:1000,delay:1500},
		DB_3_1:{left:-50,opacity:0,speed:1000,delay:500},
		DB_3_2:{top:40,opacity:0,speed:1000,delay:1000},
		DB_3_3:{top:0,opacity:0,speed:1000,delay:1500},
		DB_4_1:{top:40,opacity:0,speed:1000,delay:500},
		DB_4_2:{top:0,opacity:0,speed:1000,delay:1000},
		DB_4_3:{top:0,opacity:0,speed:1000,delay:1500},
		DB_4_4:{top:20,opacity:0,speed:1000,delay:2000},
		DB_4_5:{top:80,opacity:0,speed:1000,delay:3000},
		end:null
	}
})
</script> -->